.header{
    display: flex;
    justify-content: space-between;
}

.h2_title{
    color: blue;
    padding-left: 20px;
}

.nav_item{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    margin: 0px 10px 30px 10px;
    font-weight: bold;
    padding-top: 10px;
}

.flex{
    display: flex;
    flex-direction: row-reverse;
}

.relative-img{
    position: relative;
    top: 200px;
}

.img{
    /* display: flex; */
    /* flex-direction: row-reverse; */
    max-width: 800px;
    max-height: 500px;
    z-index: 10;
}

.title{
    /* font-weight: bold; */
    font-size: 40px;
}

.blue{
    width: 80%;
    height: 200px;
    z-index: 0;
    background: blue;
}